@page "/actores/crear"
@inject NavigationManager navigationManager
@inject IHttpServicio httpServicio
@inject SweetAlertService swal

<h3>Crear Actor</h3>

<FormularioActores OnValidSubmit="Crear" Actor="Actor" />

@code {
	private Actor Actor = new Actor();

	async Task Crear()
	{
        var httpResponse = await httpServicio.Post("api/actores", Actor);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerError(); // Obtener el mensaje del servidor
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("actores");
        }
	}
}
