@page "/"
@inject IHttpServicio httpServicio

<PageTitle> Peliculas Blazor</PageTitle>

<div>
	<h3>En Cartelera </h3>
	<ListadoDePeliculas Peliculas="EnCartelera" />
</div>

<div>
	<h3>Proximos Estrenos</h3>
	<ListadoDePeliculas Peliculas="FuturosEstrenos" />
</div>

@code {

	public List<PeliculaDTO>? EnCartelera { get; set; }
	public List<PeliculaDTO>? FuturosEstrenos { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var respuestaHTTP = await httpServicio.Get<HomePageDTO>("api/peliculas");
		EnCartelera = respuestaHTTP.Respuesta.PeliculasEnCartelera;
		FuturosEstrenos = respuestaHTTP.Respuesta.ProximosEstrenos;
	}

}


<!-- Forma IMPLICITA de generar codigo con HTML y C# 

<p>
	Hola, Arroba_UtilidadesString.transformar(nombre)
	buenas tardes
</p>


Arroba_code {
	string nombre = "VaLeNtin";
}
-->
<!-- Forma EXPLICITA de generar codigo con HTML y C#
<p>Vamos a sumar 2 + 2 = Arroba_(2 + 2)</p>
-->



<!-- Se usa una expresión lambda. Se genera un onclick para que funcione como evento y lo que esté del otro lado de la flecha será lo que oocurra
<button Arroba_onclick=Arroba_(() => Console.WriteLine("Me han clieckeado") )>Presioname</button>
-->



<!--
	si queremos usar una forma implicita hacemos lo siguiente

<button Arroba_onclick=Arroba_ManejarClickBoton )>Presioname</button>

Arroba_code {

  void ManejarClickBoton()
	{
	  Console.WriteLine("Me han clieckeado desde una funcion")
	}

}
-->

