@typeparam Titem
@*TypeParam para trabajar con genericos. ahora cada vez q use listadogenerico puedo hacer listas*@

@if (Listado is null)
{
	@if (Cargando is null)
	{
		<img alt="Cargando" src="Images/GIF_Blazor.gif" width="50" height="50" />
	}
	else
	{
		@Cargando
	}

}
else if (Listado.Count == 0)
{

	@if (NoHayRegistros is null)
	{
		<p>No hay peliculas para mostrar</p>
	}
	else
	{
		@NoHayRegistros
	}

}
else
{
	if (HayRegistros is not null)
	{
		@foreach (var elemento in Listado)
		{
			@HayRegistros(elemento)
			
		}
	}
	else
	{
		@HayRegistrosCompleto
	}

}
@code {
	[Parameter]
	public RenderFragment Cargando { get; set; } = null!;
	[Parameter]
	public RenderFragment NoHayRegistros { get; set; } = null!;
	[Parameter]
	public RenderFragment<Titem> HayRegistros { get; set; } = null!;

	[Parameter]
	public RenderFragment HayRegistrosCompleto { get; set; } = null!;

	[Parameter]
	[EditorRequired]
	public List<Titem> Listado { get; set; } = null!;
	//Listado generico para trabajar sin clases, se debe colocar al inicio @typeparam. Cabe destacar que es un parametro requerido.
}
